/* .timer-container {
    max?-width: 60%;

    width: fit-content;
    height: fit-content;
    padding: 1em 3em;
    padding-top: 2em;
    border-radius: 5%;
} */

/* .timer-section {
    display: flex;
    flex-direction: column;
    padding-right: 2.5em;
    color: var(--baby-powder-white);
} */

.timer-clock {
    height: fit-content;
}

.timer-clock, .timer-clock .timer-colon-span {
    font-size: 3.7vw;
    padding: 0 .25em;
}

.timer-section p:nth-child(2) {
    /* font-size: 4em; */
    margin: 0.125em 0 0 0;
}