.footer {
  /* position: absolute; */
  width: 100%;
  background-color: var(--red-bbc);
  height: 10vh;
  color: var(--baby-powder-white);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 0!important;
  margin-top: auto; */
}

.footer-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.footer-logo {
  height: 100%;
  width: max(450px, 25vw);
}