.nav-bar {
  position: relative;
  width: 100%;
  background-color: #9D0A0D;
  height: 10vh;
  align-items: center;
}

.nav-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo {
  cursor: pointer;
  height: 100%;
  width: max(450px, 25vw);
}

.santa-header {
  /* position: absolute; */
  cursor: pointer;
  height: 7vh;
  margin-left: 20%;
  width: 80px;
}

.nav-bar ul {
  display: flex;
  gap: 20px;
  margin: 0 60px 0 0;
  align-items: center;
}