@keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  #joke-punchline-id {
    opacity: 0;
  }

.punchline-animation {
    display: block !important;
    opacity: 0;
    animation: fade-in 1 .75s linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
