/*  Quiz  */

/* Quiz welcome page */

.quiz-welcome  {
    background-color: var(--baby-powder-white);
    border: 1px solid var(--text-alternate);
    /* max-width: 60%; */
    margin: 4.5em auto 1.5em auto;
    padding-right: .5em;
    width: 60vw;
    height: fit-content;
    padding: 1em;
    padding-top: 2em;
    border-radius: 5%;
    box-shadow: 2px 2px 7px var(--text-alternate);
}

.quiz-welcome h2 {
    /* padding-bottom: .75rem; */
    font-size: 1.75em;
    margin-bottom: .55em;
}

.quiz-welcome p:first-child {
    padding-bottom: 1.1em;
}

.quiz-welcome p {
    line-height: 2.25em;
    font-size: 1.25em;
    margin-left: 5px;
}

.quiz-welcome-start-instructions {
    margin: 0 auto !important;
    color: var(--text-alternate);
}

.quiz-welcome-content-wrapper {
    display: flex;
    position: relative;
}

.quiz-welcome-text-wrapper {
    max-width: 60%;
}


/* Quiz welcome svg images */

.quiz-start-svg {
    height: 250px;
    width: 250px;
    margin-left: 20px;
    padding-bottom: 1.5em;
    cursor: pointer;
    transition-property: all;
    transition: .4s ease-in;
    transform: rotate(5deg);
}

.quiz-start-svg:hover {
  cursor: pointer;
  transform: rotate(5deg);
  transform: scale(1.25);
}

.quiz-welcome-elf {
    height: 25vh;
    width: 25vh;
    margin-left: auto;
    margin-right: 5vw;
    margin-top: 1.2em;
}


/* Quiz questions */

.quiz-question {
    margin: 0 auto 0 auto;
    width: max(600px, 50vw);
    padding: 1.5em 1.5em  0.5em 1.5em;
    background-color: var(--baby-powder-white);
    border: 1px solid var(--text-alternate);
    font-size: 1.25em;
    border-radius: 45px;
    box-shadow: 2px 2px 9px var(--text-alternate);
}

.quiz-question h4 {
    margin-top: 1.25em;
    text-align: center;
    font-size: 1.2rem;
}

/* Quiz question potential answers */

.quiz-question-options-list {
    padding-bottom: 0 !important;
}

.quiz-question-option {
    width: 65%;
    padding: 0.45em 1.25em .75em .75em;
    list-style: none;
    border-radius: 20px;
    cursor: pointer;
}

/* SVG images */


/* Candy canes svg images */

.candy-canes {
    margin-top: 2.5vh;
    margin-bottom: 1.25vh;
    margin-left: 57.5vw;
    position: sticky;
    object-fit: cover;
}

.candy-cane-quiz-lives {
  height: 50px;
  width: 50px;
}

/* Presents quiz tally images */

.presents-correct-tally {
    height: 75px;
    width: 75px;
}

.quiz-presents {
    /* padding-top: 2em; */
    margin: 0 auto;
    width: fit-content;
}
.quiz-presents * {
    padding-right: 1em;
}

.quiz-correct-answers {
    font-style: italic;
    color: var(--text-alternate);
    font-weight: light;
    font-size: .95em;
}

.quiz-cracker-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.quiz-question-nav-crackers {
    height: 450px;
    width: 450px;
    /* margin: 1.5em 0; */
    margin-top: 0;
    cursor: pointer;
    transition-property: all;
    transition: .4s ease-in;
    transform: rotate(5deg);
}

.quiz-question-nav-crackers:hover {
    transform: rotate(5deg);
    transform: scale(1.25);
}

/* SVG resizing */



@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hidden-candy {
    animation-name: fadeout;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    height: 50px;
    width: 50px;
}

.quiz-container {
    min-height: 80vh;
}


.selected-true {
    background-color: var(--green-dark);
    color: var(--baby-powder-white);
    border: 1px solid var(--text-alternate);
}

.selected-true::before {
    content: "✔";
    font-size: 20px;
    margin-right: 1.25em;
}

.selected-false {
    background-color: var(--red-bbc);
    color: var(--baby-powder-white);
    border: 1px solid var(--text-alternate);
}

.selected-false::before {
    content: "\2715";
    color: white;
    font-size: 20px;
    margin-right: 1.25em;
}


/* Quiz end*/


/* Quiz end FLex container for columns */

.quiz-score-container {
    display: flex;
}

.end-of-quiz {
    width: 60%;
    background-color: var(--baby-powder-white) !important;
    margin: 2em auto 2.5em auto;
    margin-top: 1.5em;
    border: 1px solid var(--text-alternate);
    padding: 1em;
    border-radius: 45px;
    box-shadow: 2px 2px 9px var(--text-alternate);
}

.end-of-quiz h2 {
    padding-top: 1.5em;
    margin-left: 0.75rem;
    font-size: 1.7em;
}

.end-of-quiz p {
    max-width: 80%;
    margin-left: .75em;
    font-size: 1.25em !important;
    line-height: 1.5em;
}





/* Quiz end Svgs */

.quiz-end-cracker-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.quiz-end-cracker {
    margin-top: -2.5em;
    height: 250px;
    width: 250px;
    transform: rotate(5deg);
    transition-property: all;
    transition-duration: .75s;
}

.quiz-end-cracker:hover {
  cursor: pointer;
  transform: rotate(5deg);
  transform: scale(1.25);
}


/* Quiz failure screen */

.lose-screen {
    margin-top: 4.5em !important;
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: 1.5em;
    background-color: var(--baby-powder-white) !important;
    border: 1px solid var(--text-alternate);
    padding: 1em;
    border-radius: 45px;
    box-shadow: 2px 2px 9px var(--text-alternate);
}

.sad-elf-wrapper {
    margin-left: auto;
    width: 50%;
    height: 100%;
}

/* Svgs for losing screen */

.quiz-sad-elf {
    margin-top: 2.5em !important;
    margin-left: 2.5em;
    height: 50%;
    width: 50%;
}

.quiz-question-lose-crackers {
    margin-left: 1.5em;
    height: 50%;
    width: 50%;
    transform: rotate(5deg);
    transition-property: all;
    transition-duration: .75s;
}

.quiz-question-lose-crackers:hover {
  cursor: pointer;
  transform: rotate(5deg);
  transform: scale(1.25);
}